:root {
    --primary-color: #163A5F; /* deep navy */
    --secondary-color: #386ba3; /* strong rafting blue */
    --accent1-color: #F8FAFC; /* soft white */
    --accent2-color: #4A90E2; /* bright but professional blue */
    --heading-font: Georgia, serif;
    --body-font: Arial, sans-serif;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 12px;
    font-weight: 600;
}

nav a:hover {
    color: var(--accent2-color);
}


h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

h2 {
    margin-bottom: 12px;
}


header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    width: 150px;
    height: auto;
}


.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
}

.hero article img {
    float: right;
    width: 125px;
}


section {
    margin-bottom: 35px;
}

section p {
    line-height: 1.6;
}


footer {
    margin-top: 40px;
}

footer p {
    margin-bottom: 12px;
}


.socialmedia {
    display: flex;
    gap: 20px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    height: auto;
}