body {
    font-family: Arial, sans-serif;
}

h1 {
    border: 2px solid rgb(26, 26, 145);
    background-color: white;
    color: rgb(2, 2, 126);
    margin: 1px;
}

img {
    width: 200px;
}

nav {
    background-color: rgb(8, 0, 124);
    padding: 20px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main img {
    width: 150px;
    height: auto;
    box-shadow: 0 0 30px rgb(108, 106, 106);
    border: 1px solid rgb(77, 75, 75);
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
    margin: 0 auto;
}

aside {
    width: 20rem;
    margin: 1rem auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    color: rgb(44, 39, 39);
    background-color: #eee;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    color: white;
    background-color: rgb(8, 0, 124);
    border-top: 1px solid #000;
}