body {
    font-family: 16px Arial, sans-serif;
}

img {
    width: 200px;
}

nav {
    background-color: rgb(8, 0, 124);
    padding: 20px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(0, 0, 255);
}

img {
    width: 150px;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

main {
    max-width: 840px;
    margin: 0 auto;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    color: rgb(44, 39, 39);
    background-color: #eee;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}