* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    border: 2px solid rgb(26, 26, 145);
    background-color: white;
    color: rgb(2, 2, 126);
    margin: 1px;
}

img {
    width: 200px;
}

nav {
    background-color: rgb(8, 0, 124);
    padding: 20px;
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;

}

nav a:hover {
    color: #8ecae6;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

main img {
    float: right;
    width: 200px;
    margin: 0 0 15px 15px;
    border: 3px solid white;
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

main p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

p {
    padding: 0px;
}

aside {
    width: 20rem;
    margin: 1rem auto;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 20px;
    color: white;
    background-color: rgb(0 0 0 / 50%);
    padding: 5px 10px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgb(8, 0, 124);
    border-top: 1px solid #000;
}

/* Class Selectors */

ul.box {
    max-width: 500px;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}